<div class="container">
  <ul class="nav">
      <li>
        <a href="#stats">
          <span class="fas fa-chart-line"></span>
        </a>
      </li>
      <li>
        <a href="#history">
          <span class="fas fa-history"></span>
        </a>
      </li>
  </ul>
</div>
