<%# add navigation links to this file %>
<nav>
    <ul class="nav-navbar">
        <li>
          <a href="/">
            <span class="fas fa-home"></span>
          </a>
      	</li>
        <li>
          <a href="/settings">
            <span class="fas fa-user-cog"></span>
          </a>
        </li>
        <li>
      		<a href="/home">
            <span class="fas fa-trophy"></span>
          </a>
      	</li>
        <li>
          <a href="/logout" data-method="delete">
            <span class="fas fa-sign-out-alt"></span>
          </a>
        </li>
    </ul>
</nav>​
