.aboutBox {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 30px 15px;
  position: absolute;
  width: 100%;
  left: 0;
  background: rgba(0,0,0,0.3);

}

.aboutH2 {
  text-align: center;
  font-family: $cabinSketch;
  font-size: 2em;
  margin-top: 20px;
  color: white;
}

h2 {
  font-family: $amatica;
  font-size: 2em;
  display: inline;
}

p {
  font-family: $open;
  line-height: 1.5;
}

.homeFooterIcon {
  width: 25px;
  display: inline;
}
