.statusContainer h1 {
      text-align: center;
      font-size: 3em;
      font-family: $cabinSketch;
}
.statusCard {
  margin: 27px;
  border-radius: 5px;
  padding: 20px;
  background: white;
  position: relative;
  box-shadow: $box-shadow;
  max-width: 100%;
}

.statusList {
  list-style: none;
}

.commentList {
    margin-top: 10px;
    list-style: none;

    li {
        border-radius: 5px;
        font-style: italic;
        color: rgba(black, .5);
        background: $innerBorderColor;
    }
}

.addComment {
    padding: 10px;

    input {
        width: 75%;
    }

    button {
        width: 23%;
        letter-spacing: 3px;
        padding: 2px 0;
        font-size: 14px;
    }
}

// .usersHomeContainer {
//     width: 100vw;
//     height: 200vh;
//     background: $background;
//
//     .bulbForm {
//         width: 55%;
//         margin: 60px auto 20px;
//         border-radius: 5px;
//         padding: 20px;
//         background: white;
//         position: relative;
//         clear: both;
//         box-shadow: $box-shadow;
//
//
//
//
//
//         h2 {
//             text-align: center;
//             font-family: $amatica;
//             font-size: 3em;
//             letter-spacing: 4px;
//             @include media(372px) {
//                 font-size: 2.5em;
//             }
//         }
//
//
//         button {
//             position: absolute;
//             right: 20px;
//             bottom: 16px;
//             letter-spacing: 3px;
//             width: 80px;
//             @include button($black);
//             padding: 0;
//
//             &:hover {
//                 @include hover();
//             }
//             @include media(407px) {
//                 position: static;
//                 margin-top: 5px;
//             }
//         }
//     }
// }







    // li {
    //     padding: 10px;
    //
    //     .statusIcon {
    //         width: 20px;
    //         display: inline;
    //         float: left;
    //     }
    //
    //     p {
    //         display: inline;
    //         margin-left: 10px;
    //     }
    //
    //     .likes {
    //         position: absolute;
    //         right: 30px;
    //         top: 28px;
    //     }
    //
    //     .likeBtn {
    //         position: absolute;
    //         right: 30px;
    //         top: 55px;
    //         letter-spacing: 3px;
    //         padding: 0 10px;
    //         font-size: 1.5em;
    //     }
    // }
    //
    //
    //
    //
