.statusContainer h1 {
      text-align: center;
      font-size: 3em;
      font-family: $cabinSketch;
}
.statusCard {
  margin: 27px;
  border-radius: 5px;
  padding: 20px;
  background: white;
  position: relative;
  box-shadow: $box-shadow;
  max-width: 100%;
}

ol {
  list-style: none;
}

h2 {
    font-family: "Amatic SC", cursive;
    font-size: 2em;
    display: inline;
}

.statusList li {
    list-style: none;
    margin: 10px;
}

.commentList {
    margin-top: 10px;
    list-style: none;

    li {
        border-radius: 5px;
        font-style: italic;
        color: rgba(black, .5);
        background: $innerBorderColor;
    }
}

.addComment {
    padding: 10px;

    textarea {
        width: 75%;
    }

    button {
        width: 23%;
        letter-spacing: 3px;
        padding: 2px 0;
        font-size: 14px;
    }
}
