.statusForm {
        width: 55%;
        margin: 60px auto 20px;
        border-radius: 5px;
        padding: 20px;
        background: white;
        position: relative;
        clear: both;
        box-shadow: $box-shadow;
        h1 {
            margin-top: 20px;
            text-align: center;
            font-size: 3em;
            font-family: $cabinSketch;
        }
        h2 {
            text-align: center;
            font-family: $amatica;
            font-size: 3em;
            letter-spacing: 4px;
        }

        hr {
            width: 87%;
        }


        label {
            font-size: 1.5em;
            display: inline;
            margin-top: 5px;
            font-family: $amatica;
            letter-spacing: 3px;
            margin-right: 5px;
        }

        textarea {
            border: 1px solid $innerBorderColor;
            margin: 10px 0;
            width: 100%;
            border-radius: 5px;
            font-family: $open;
            display: block;
            padding: 5px;
        }

        input {
            border: 1px solid $innerBorderColor;
            margin: 10px 0;
            width: 100%;
            border-radius: 5px;
            font-family: $open;
            display: block;
            padding: 5px;
        }
}

.statsContainer h1 {
      margin-top: 20px;
      text-align: center;
      font-size: 3em;
      font-family: $cabinSketch;
}

.histContainer h1 {
      margin-top: 20px;
      text-align: center;
      font-size: 3em;
      font-family: $cabinSketch;
}
