<!-- <div id="mySidenavR" class="sidenavR">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNavR()">×</a>
    <a href="#">About 2</a>
    <a href="#">Services 2</a>
    <a href="#">Clients 2</a>
    <a href="#">Contact 2</a>
</div> -->
