@import "bootstrap-sprockets";
@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=Nunito:400,700';

.alert-alert {
  @extend .alert-danger;
}

.alert-notice {
  @extend .alert-warning;
}

.alert-success {
  @extend .alert-success;
}

.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: rgba(0,0,0,0.3);
}
