@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: #f7f7f7 url(https://css-tricks.com/examples/RoundButtons/images/bg.png) repeat center top;
}

#error_explanation {
  ul {
    margin: 0 0 30px 0;
    list-style: none;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.alert-alert {
  @extend .alert-danger;
}

.alert-notice {
  @extend .alert-warning;
}

.alert-success {
  @extend .alert-success;
}

.box {
    margin-bottom: 20px;
    width: 100%;
    padding: 30px 15px;
    background: #fff;
    background: rgba(0,0,0,0.3);
}

@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}
