<div class="aboutContainer">

    <h2 class="aboutH2">About</h2>

    <ul class="aboutUL">

        <li class="aboutLI">
            <h2>Achievements Unlocked!</h2>
            <%= image_tag("level-up-mush.png", :alt => "level up", :class => "homeFooterIcon") %>
            <p>
                Video Game logic here... talk about the positives and negatives to any assignment. Posts are unlockable like achievements on XBOX. Users can share to the community or a local team or make their posts private. Posts have four components, which you can read more about below!
            </p>
        </li>

        <li class="aboutLI">
            <h2>Community!</h2>
            <%= image_tag("community.png", :alt => "gamers", :class => "homeFooterIcon") %>

            <p>
                Cheer on, sympathize or share your knowledge with others by liking and commenting on their bulbs in the Bulb Timeline.
            </p>
        </li>

        <li class="aboutLI">
            <h2>Progress Tracking</h2>
            <%= image_tag("graph.png", :alt => "progress", :class => "homeFooterIcon") %>

            <p>
                Track your state of mind. Monitor your 'panic level' over time and see how far you've come when last week's dim bulb is this week's piece of cake.
            </p>
        </li>

    </ul>
</div>
