<div class="container">

    <div class="row">

          <div class="aboutBox">

                <div class="col-lg-12">
                  <h2 class="aboutH2">About</h2>
                </div>

                <div class="col-sm-4">
                    <h2>Achievements Unlocked</h2>
                    <%= image_tag("achievement-unlocked.png", :alt => "achievement unlocked", :class => "homeFooterIcon") %>
                    <p>
                        Video Game logic here... talk about the positives and negatives. Posts are unlockable like achievements on XBOX. Users can share to the community or a local team or make their posts private. Posts have four components, which you can read more about below!
                    </p>
                </div>

                <div class="col-sm-4">
                    <h2>Cheer</h2>
                    <%= image_tag("cheer.png", :alt => "cheer", :class => "homeFooterIcon") %>
                    <p>
                        Cheer on, sympathize or share your knowledge with others by liking and commenting on their bulbs in the Bulb Timeline.
                    </p>
                </div>

                <div class="col-sm-4">
                    <h2>Gain</h2>
                    <%= image_tag("exp.png", :alt => "progress", :class => "homeFooterIcon") %>
                    <p>
                        Track your state of mind. Monitor your 'panic level' over time and see how far you've come when last week's dim bulb is this week's piece of cake.
                    </p>
                </div>

          </div>

    </div>

</div>
