<div class="row">
    <div class="box">
        <div class="col-lg-12 text-center">
          <h2 class="aboutH2" id="settings">SETTINGS</h2>
        </div>
        <div class="col-lg-12">
          <div class="col-md-4">
              <h2 class="infoLI">Achievements Unlocked</h2>
              <%= image_tag("achievement-unlocked.png", alt: "achievement unlocked", class: "homeIcons") %>
              <p>
                   Make your meetings more... meaningful by using status responses and an accurate record of progress and failures that can be shared with the wider dev community, your local team, or privately to ones self.
              </p>
          </div>

          <div class="col-md-4">
              <h2 class="infoLI">Cheer</h2>
              <%= image_tag("cheer.png", alt: "cheer", class: "homeIcons") %>
              <p>
                  Cheer, sympathize, and share. Like, comment, and commiserate with the community on challenges excepted to LevelUp your development skills.
              </p>
          </div>

          <div class="col-md-4">
              <h2 class="infoLI">Gain</h2>
              <%= image_tag("exp.png", alt: "progress", class: "homeIcons", style: "vertical-align: top;") %>
              <p>
                  Lost the lead; Gained the lead. How are you making progress? Track your state of mind. Monitor your 'panic level' and see how close you are to a LevelUp!
              </p>
          </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
