<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                  <ul class="nav">
                      <li>
                        <a href="#">
                          <span class="fab fa-fort-awesome"></span>
                        </a>
                      </li>
                  </ul>
            </div>
        </div>
    </div>
</footer>
