<!-- Footer -->
<footer>
    <nav>
        <ul class="nav">
            <li>
              <a href="#">
                <span class="fab fa-fort-awesome"></span>
              </a>
          	</li>
        </ul>
    </nav>​
</footer>
