<!-- Home Page Nav Buttons -->
<nav>
    <ul class="nav">
        <li>
          <a href="#">
            <span class="fas fa-cog"></span>
          </a>
        </li>
        <li>
          <a href="/signup">
            <span class="fas fa-power-off"></span>
          </a>
        </li>
    </ul>
</nav>​
