  <div class="row">

        <div class="levelsBox">

            <div class="col-sm-3">
                <%= image_tag("red-mush.png", :alt => "achievements", :class => "homeFooterIcon") %>
                <h2>Achievements</h2>
                <p>
                    Achievement unlocked!
                </p>
            </div>

            <div class="col-sm-3">
                <%= image_tag("poison-mush.png", :alt => "obstables", :class => "homeFooterIcon") %>
                <h2>Obstacles</h2>
                <p>
                    The cake is a lie.
                </p>
            </div>

            <div class="col-sm-3">
                <%= image_tag("super-star.png", :alt => "goals", :class => "homeFooterIcon") %>
                <h2>#Goals</h2>
                <p>
                    End game.
                </p>
            </div>

            <div class="col-sm-3">
                <%= image_tag("block.png", :alt => "panic score", :class => "homeFooterIcon") %>
                <h2>Panic Score</h2>
                <p>
                    On a scale of 1-10, how panicked are you feeling? 1 is your happy place, 10 is total meltdown, you take it from there.
                </p>
            </div>

        </div>

  </div>
