<div class="bulbInfoContainer">

    <ul class="bulbInfoUL">

        <li class="bulbInfoLI">
            <%= image_tag("red-mush.png", :alt => "red mushroom", :class => "homeFooterIcon") %>
            <h2>Achievements</h2>
            <p>
                Achievement unlocked!
            </p>
        </li>

        <li class="bulbInfoLI">
            <%= image_tag("poison-mush.png", :alt => "lamp by Elves Sousa from the Noun Project", :class => "homeFooterIcon") %>
            <h2>Obstacles</h2>
            <p>
                The cake is a lie.
            </p>
        </li>

        <li class="bulbInfoLI">
            <%= image_tag("fire-flower.png", :alt => "wall by TDL-LONDON from the Noun Project", :class => "homeFooterIcon") %>
            <h2>#Goals</h2>
            <p>
                End game.
            </p>
        </li>

        <li class="bulbInfoLI">
            <%= image_tag("block.png", :alt => "Head by Eliricon from the Noun Project", :class => "homeFooterIcon") %>
            <h2>Panic Score</h2>
            <p>
                On a scale of 1-10, how panicked are you feeling? 1 is your happy place, 10 is total meltdown, you take it from there.
            </p>
        </li>

    </ul>
</div>
