<%# add navigation links to this file %>
<nav>
    <ul class="nav-nav">
        <li>
          <a href="/">
            <span class="fas fa-home"></span>
          </a>
      	</li>
        <li>
          <a href="/user-settings">
            <span class="fas fa-user-cog"></span>
          </a>
        </li>
        <li>
      		<a href="/user-stats">
            <span class="fas fa-trophy"></span>
          </a>
      	</li>
        <li>
          <a href="/logout">
            <span class="fas fa-sign-out-alt"></span>
          </a>
        </li>
    </ul>
</nav>​
