<div class="row">
  <div class="box statusBox">
    <div class="col-sm-3">
        <%= image_tag("red-mush.png", :alt => "achievements", :class => "statusIcons") %>
        <h2 class="infoLI">Achievements</h2>
        <p>
            Achievement unlocked! An achievement is positive progress: a recent breakthrough, an "aha moment", or an inspiring conversation. What did you accomplish today?
        </p>
    </div>

    <div class="col-sm-3">
        <%= image_tag("poison-mush.png", :alt => "obstables", :class => "statusIcons") %>
        <h2 class="infoLI">Obstacles</h2>
        <p>
            The cake is a lie. What is blocking you from making progress or achieving your goals?  Whatever nagging anxiety, pet peeve, or massive soul-crushing issue has made the cake a lie, that is your blocker for today.
        </p>
    </div>

    <div class="col-sm-3">
        <%= image_tag("super-star.png", :alt => "goals", :class => "statusIcons") %>
        <h2 class="infoLI">#Goals</h2>
        <p>
            Were you aspire to be by end of day, end of week, maybe even the end of a month, or possibly this task will take you the entire year. Your goal should be specific, measureable, achievable, timely.
        </p>
    </div>

    <div class="col-sm-3">
        <%= image_tag("block.png", :alt => "panic score", :class => "statusIcons") %>
        <h2 class="infoLI">Panic Score</h2>
        <p>
            On a scale of 1-10, how panicked are you feeling? With 1 being your happy place, and 10 being total mayhem. How well are you managing yourself today?
        </p>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
